.table-special-effect{
    margin: 0px !important;
    border-top: none !important;
    border-bottom: none !important;
}

.table-items-centerd .table-wrapper tbody tr td{
    vertical-align: middle !important;
}


.fancy-bet-table-td-style{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    vertical-align: auto !important;
}

.live-score-board-table-item-top .table-wrapper tbody tr td:nth-child(6) {
    vertical-align: top !important;
}

  