.management-team-wrapper-container {
  width: 95%;
  margin: auto;
}

.management-team-wrapper {
  margin: auto;
}

.blue-font {
  color: #1912c8;
}

/* Input fields styling */

.upload-input-popup {
  padding: 0.5rem;
  background-color: #f2f2f2 !important;
  color: #727272;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .upload-input-popup {
    padding: 0.4rem;
  }
}

/* ----------- */

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dw-active-btn {
  background-color: #18b962;
  color: white;
}

.mini-container {
  border-radius: 10px !important;
  padding: 10px;
}

.super-admin-top-container {
  position: relative;
  padding-left: 3.5rem;
}

.super-admin-top-container img {
  width: 160px;
  height: 170px;
}

.super-admin-profile-img-con {
  position: absolute;
  transform: translateY(-30%);
  left: 20%;
  z-index: 10;
  border-radius: 50px;
}

.super-admin-img-down-content {
  margin-top: 120px !important;
}

@media only screen and (min-width: 1600px) and (max-width: 2560px) {
  .super-admin-top-container img {
    /* width: 150px;
    height: 150px; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .super-admin-profile-img-con {
    transform: translateY(-40%);
    left: 15% !important;
  }

  .super-admin-img-down-content {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
  .super-admin-top-container img {
    /* width: 130px;
    height: 160px; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .super-admin-profile-img-con {
    position: absolute;
    transform: translateY(-40%);
    left: 15% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .super-admin-top-container {
    position: relative;
    padding-left: 1.5rem;
  }

  .super-admin-profile-img-con {
    position: absolute;
    transform: translateY(-30%);
    left: 10% !important;
  }

  .super-admin-top-container img {
    /* width: 100px;
    height: 120px; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .super-admin-img-down-content {
    margin-top: 90px !important;
  }
}

.mini-container {
  padding: 0px 0px;
}

.top-container {
  padding: 0px 0px;
}

.director-admin-profile-top-con {
  background-image: url("../../../public/assets/admin_profile_bg.png");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.director-admin-profile-top-bg-dark {
  background-color: #2b2c40;
}

.director-top-bg-icon {
  background-color: #484964;
  /* padding: 5px; */
  border-radius: 50%;
  margin: 3px;
}

.director-admin-profile-active-btn {
  background-color: #56ca00;
}

.director-profile-tab-btn button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.director-admin-profile-bottom-section-right {
  border: solid 2px #ffa310;
  border-radius: 1rem;
  background-color: #f5f7ff !important;
  margin-right: 1rem;
}

.director-admin-profile-bottom-section-right input {
  background-color: #ffffff;
}

.direct-admin-profile-bottom-card {
  width: 30%;
}

.director-admin-profile-toggle-btn .form-check-input {
  background-color: #b3ffd6;
  border-color: rgba(24, 185, 98, 0.4);
  height: 20px;
  width: 40px;
  margin-right: 8px;
}

.payment-gateway-status-badge {
  background-color: #b3ffd6;
  border: solid 2px rgba(24, 185, 98, 0.4);
  color: rgba(24, 185, 98, 1);
}

.director-admin-profile-toggle-btn .form-check-input:checked {
  background-color: #b3ffd6;
  border-color: rgba(24, 185, 98, 0.4);
  height: 20px;
  width: 40px;
}

.custom-modal-width .modal-dialog {
  max-width: 350px !important;
  width: 90% !important;
  margin: auto !important;
}

.table-parent-container .table-wrapper {
  box-shadow: none !important;
  border-radius: 0px !important;
  border-top: solid 1px rgba(0, 0, 0, 0.16);
  border-bottom: solid 1px rgba(0, 0, 0, 0.16);
}

.table-parent-container .table-wrapper tbody tr td {
  padding-left: 15px !important;
  vertical-align: middle !important;
}

.table-parent-container .table-wrapper thead th {
  padding-left: 15px !important;
}

.dashed-line {
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

/* live block card styling */

.downline-list-card-top {
  padding: 1rem;
}

.downline-list-card-bottom {
  padding: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .downline-list-card-top {
    padding: 0.5rem;
  }

  .downline-list-card-bottom {
    padding: 0.5rem;
  }
}

.error-text {
  color: tomato;
}
.check-bg {
  background-color: yellow;
}
.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}
/* Remove number input spinners in WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 95px;
  position: absolute;
  z-index: 9;
  top: 30%;
  left: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#db7e0c 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#f4a908);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}
@keyframes l5-0 {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
.white-opacity{
  background-color: #ffffff;
  opacity: 0.7;
}
.my-load{
  height: 100%;
  width: 100%;
background-color: #ffffff;
position: absolute;
  z-index: 10;
  opacity: 0.5;
  
}