.login-bg {
  background-color: #fc9b4e;
}
.h-100vh {
  height: 100vh;
}
.white-bg {
  background: #ffffff;
}
.login-box-shadow {
  box-shadow: 0px 25px 65px 0px #00000029;
}
.h-fill {
  height: -webkit-fill-available !important;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.loginimg {
  position: absolute;
  left: 0;
  bottom: 0;
}
.welcome-font {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 4rem;
  color: #1c1c1c;
  font-weight: 400;
}
.input-bg,
.orange-btn {
  line-height: 2;
}
.saffron-btn {
  background: #ffa310 !important;
  border: none !important;
  outline: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  text-align: center !important;
}
.saffron-btn2 {
  background: #ffa310 !important;
  border: none !important;
  outline: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  text-align: center !important;
  border-radius: 0.25rem;
}
.balck-btn {
  background: #3d3d3d !important;
  border: none !important;
  outline: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  text-align: center !important;
}
.grey-btn {
  background: #7e7e7e !important;
  border: none !important;
  outline: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  text-align: center !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.br-0px {
  border-radius: 0px !important;
}
.white-btn {
  background: #ffffff !important;
  outline: 1px solid #e0e0e0 !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
}
.white-btn2 {
  background: #ffffff !important;
  outline: 1px solid #e0e0e0 !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  border-radius: 0.25rem;
}
.white-hover:hover {
  color: #000000 !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  background: #f1f1f1 !important;
}
.yellow-hover:hover {
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 0.5rem !important;
  background: #ffa310 !important;
}
.rust-red-btn {
  background: #d0431c;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.active-btn {
  border: 2px solid #18b962;
  background: #b3ffd6;
  border-radius: 0.25rem;
  outline: none;
  color: #18b962;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.inactive-btn {
  border: 1px solid #f43a23;
  background: #f43a23;
  border-radius: 0.25rem;
  outline: none;
  color: #f43a23;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.logo-img {
  height: 8vh;
}
.grey-clr {
  color: #999999;
}
.all-none {
  background: none;
  border: none;
  outline: none;
}
.black-text2 {
  color: #1d1d1d;
  font-weight: 500;
}
.black-text {
  color: #1c1c1c;
  font-weight: 500;
}
.black-text3 {
  color: #000000;
  font-weight: 500;
}
.black-text4 {
  color: #1b1b1b;
  font-weight: 500;
}
.input-bg {
  background: #f2f2f2;
}
.icon-img {
  height: 1.2rem;
  width: 1.2rem;
}
.loginbox-radius {
  border-radius: 0.25rem;
}
.input-css {
  background: #f2f2f2;
  border: none;
  outline: none;
  color: #1c1c1c;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.orange-btn {
  background: #fc9b4e;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff !important;
}
.home {
  background: #f5f7ff;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 0.75rem;
  padding-bottom: 10vh !important;
  height: -webkit-fill-available !important;
}
.grey-border {
  border: 2px solid #e0e0e0;
}
.yellow-font {
  color: #ffa310;
  font-weight: 500;
}
.input-css2 {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  outline: none;
  color: #727272;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.input-pill {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  outline: none;
  color: #727272;
  font-weight: 500;
  padding: 0.25rem;
}
.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.grey-bg {
  background: #eeeeee;
}
.black-border {
  border: 1px solid #1d1d1d;
}
.br-3px {
  border-radius: 3px;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.green-font {
  color: #18b962 !important;
}
.red-font {
  color: #d0431c;
}
.orange-bg {
  background: #fffadd;
}
